.container{

}

header{
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
header::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #DE2E4B;
}
form{
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: transparent;
  overflow: hidden;
  overflow-y: scroll;
  width: 600px;
}

form::-webkit-scrollbar{
  width: 5px;
}

form::-webkit-scrollbar-thumb{
  background: linear-gradient(0deg, #000000, #848e99);
  border-radius: 10px;
}

form .form{
  position: absolute;
  background-color: transparent;
  transition: 0.3s ease;
  padding-right: 3%;
}

form .title{
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
form .fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .fields .input-field{
  display: flex;
  width: calc(100% / 2 - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.input-field label{
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-field input, select{
  background: rgba(255,255,255, 0.2);
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: black;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0, 0.2);
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
  font-family: JosefinSans;
  transition: all 0.3s linear;
}
.input-field input::placeholder{
  color: #333;
}

.input-field input:focus,
.input-field select:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
  border: 1px solid #DE2E4B;

}
.input-field select,
.input-field input[type="date"]{
  color: #333;
}
.input-field input[type="date"]:valid{
  color: black;
}
form button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 150px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 10px;
  margin: 15px 15px 0 0;
  background-color: #DE2E4B;
  transition: all 0.3s linear;
  cursor: pointer;
}
form .btnText{
  font-size: 14px;
  font-weight: 400;

}
form button:hover{
  background-color: transparent;
  border: 1px solid rgba(0,0,0, 0.2);
  color: #333;
}
form button i {
  margin: 0 6px;
}

form .buttons{
  display: flex;
  align-items: center;
}
form .buttons button {
  margin-right: 14px;
}
@media (min-width: 750px){
  .radio .radio-field{
    width: 30%;
  }
}
@media (max-width: 750px) {
  form{
    overflow: scroll;
  }
  form::-webkit-scrollbar{
    display: none;
  }
  form .fields .input-field{
    width: calc(100% / 2 - 15px);

  }
  .radio{
    flex-direction: column;
  }
  .radio .radio-field{
    width: 100%;
  }
}

@media (max-width: 550px) {
  form .fields .input-field{
    width: 100%;
  }
  .radio{
    flex-direction: column;
  }
  .radio .radio-field{
    width: 100%;
  }
}

.radio{
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: space-between;
}

.radio .radio-field{

  overflow: hidden;
  text-align: justify;
  border: 1px solid rgba(0,0,0, 0.2);
  border-radius: 10px;
  background: rgba(255,255,255, 0.1);
  padding: 10px;
  margin: 5px 0 10px 0;

}

.radio .radio-field label{
  padding: 0 5%;
  line-height: 1.2;
  color: #333;
}

.radio .radio-field input[type="radio"]{
  height: 15px;
  width: 15px;
}


.button-bottom{
  display: flex;
}
