<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded" class="sidenav">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'dashboard'">
        <mat-icon mat-list-icon class="menu-icon">home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'agent'">
        <mat-icon mat-list-icon class="menu-icon">how_to_reg</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Agent</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'register'">
        <mat-icon mat-list-icon class="menu-icon">insert_drive_file</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Register</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'customer'">
        <mat-icon mat-list-icon class="menu-icon">supervisor_account</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Customer</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'/login'">
        <mat-icon mat-list-icon class="menu-icon">keyboard_return</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Déconnexion</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
