/* You can add global styles to this file, and also import other style files */
*{padding: 0; margin:0; box-sizing: border-box; font-family: JosefinSans;}
@font-face {
  font-family: DynaPuff;
  src: url(" assets/fonts/DynaPuff-VariableFont_wdth,wght.ttf") format("opentype");
}
@font-face {
  font-family: JosefinSans;
  src: url(" assets/fonts/JosefinSans-VariableFont_wght.ttf") format("opentype");
}
@font-face {
  font-family: Dosis;
  src: url(" assets/fonts/Dosis-VariableFont_wght.ttf") format("opentype");
}

html, body { height: 100%; }
body { margin: 0; }
